# WordPress WPGraphQL
WPGRAPHQL_URL=http://localhost:8080/graphql

# Contact Form SMTP (iRedMail)
SMTP_HOST=smtp.nexoratechno.com
SMTP_PORT=587
SMTP_USER=contact@nexoratechno.com
SMTP_PASS=your_password_here
SMTP_FROM=contact@nexoratechno.com